body {
    margin: 0;
}

img {
    width: 100%;
    border: 1px solid black;
}

button {
    margin: 0 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: skyblue;
    font-weight: bold;
}

.hide {
    display: none;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
}

#main-container > * {
    margin: 16px;
}

#content-url {
    width: fit-content;
    text-align: start;
}

#sel-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 8px;
    column-gap: 10px;
    text-align: end;
    justify-content: center;
    align-items: center;
}

#sel-container > span {
    font-weight: bold;
}

#go-button {
    grid-column: span 2;
}

#select-page {
    width: 50px;
    padding: 8px;
    border-radius: 8px;
    background-color: skyblue;
    outline: none;
}

#display-dropdown {
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: skyblue;
    outline: none;
}

#main-display {
    display: grid;
    justify-content: space-evenly;
}

#main-display > div {
    height: fit-content;
    padding: 10px 4px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: lightseagreen;
}

#grey-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: scroll;
}

#clickable-bg {
    background-color: aquamarine;
    position: absolute;
    width: 100vmax;
    height: 100vmax;
    z-index: -1;
}

/* Classes for the popup img to zoom in and out */
.img-popup {
    cursor: zoom-in;
    position: relative;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-popup-zoom {
    cursor: zoom-out;
    position: relative;
    width: auto;
    height: auto;
    max-width: 90%;
    min-height: 90%;
    top: 50px;
    margin-bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* To make display responsive */
@media (min-width: 300px) {
    .display1, .display3, .display5 {
        grid-template-columns: repeat(1, 90%);
    }
}

@media (min-width: 600px) {
    .display1 {
        grid-template-columns: repeat(1, 90%);
    }

    .display3, .display5 {
        grid-template-columns: repeat(3, 30%);
    }
}

@media (min-width: 1200px) {
    .display1 {
        grid-template-columns: repeat(1, 90%);
    }

    .display3 {
        grid-template-columns: repeat(3, 30%);
    }

    .display5 {
        grid-template-columns: repeat(5, 18%);
    }
}